docu
naturaldocs_dir
*~
images/*
ratatoeskr/templates/src/plugintemplates/*
ratatoeskr/templates/src/usertemplates/*
ratatoeskr/templates/transc/*
ratatoeskr/config.php
.php_cs.cache
ratatoeskr/vendor/
