<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<title>Login - Ratatöskr</title>
	<link rel="stylesheet" type="text/css" media="screen" href="$rel_path_to_root/ratatoeskr/cms_style/login.css" />
</head>
<body>
	<img id="background_image" src="$rel_path_to_root/ratatoeskr/cms_style/images/login_bg.jpg" alt="" />
	<div id="main">
		<div id="bar_top"><strong>Ratatöskr</strong>::Noctilucent clouds (v. 0.1 &beta;)</div>
		<div class="vcenter_outer"><div class="vcenter_inner">
		<div id="login_box">
			<h1><ste:get_translation for="login_form_header" /></h1>
			<ste:if>
				$login_failed
				<ste:then>
					<div class="error">
						<ste:get_translation for="login_failed" />
					</div>
				</ste:then>
			</ste:if>
			<form action="$rel_path_to_root/backend/login" method="post" accept-charset="utf-8">
				<p><ste:get_translation for="username" />: <input type="text" name="user" /></p>
				<p><ste:get_translation for="password" />: <input type="password" name="password" /></p>
				<p class="loginbtn"><input type="submit" value="<ste:get_translation for='login_form_button' />" /></p>
			</form>
		</div>
		</div></div>
		<div id="image_copyright">
			<ste:l10n_replace URL="http://en.wikipedia.org/wiki/File:Helkivad_ööpilved_Kuresoo_kohal.jpg" FILENAME="Helkivad ööpilved Kuresoo kohal.jpg" AUTHOR="Martin Koitmäe" LICENSE="<a href=\"http://creativecommons.org/licenses/by-sa/3.0/deed.en\">CC BY-SA</a>"><ste:get_translation for="login_background_image" raw="y" /></ste:l10n_replace>
		</div>
	</div>
</body>
</html>
