<ste:load name="master.html" />
<ste:block name="content">
	<ste:default_error />
	<ste:default_success />
	
	<form action="$rel_path_to_root/backend/content/comments" method="GET" accept-charset="UTF-8">
		<div>
			<strong><ste:get_translation for="filter" />:</strong>
			<ste:get_translation for="filter_article" /> <input type="text" name="filter_article" value="<ste:escape>$filter_article</ste:escape>" />
			<input type="hidden" name="sort_$sorting[dir]" value="$sorting[by]" />
			<input type="submit" />
		</div>
	</form>
	
	<form action="$rel_path_to_root/backend/content/comments?$filterquery?{$filterquery|&|}$sortquery" method="POST">
		<table class="fullwidth listtab">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>
						<ste:get_translation for="was_read" />
						<a href="$rel_path_to_root/backend/content/comments??{$filterquery|${filterquery}&|}sort_asc=was_read"><img src="$rel_path_to_root/ratatoeskr/cms_style/images/sortarrow_up_?{$sort_asc_was_read|filled|outline}.png" alt="<ste:get_translation for='sort_asc' />" /></a>
						<a href="$rel_path_to_root/backend/content/comments??{$filterquery|${filterquery}&|}sort_desc=was_read"><img src="$rel_path_to_root/ratatoeskr/cms_style/images/sortarrow_down_?{$sort_desc_was_read|filled|outline}.png" alt="<ste:get_translation for='sort_desc' />" /></a>
					</th>
					<th><ste:get_translation for="visible" /></th>
					<th><ste:get_translation for="comment_excerpt" /></th>
					<th>
						<ste:get_translation for="language" />
						<a href="$rel_path_to_root/backend/content/comments??{$filterquery|${filterquery}&|}sort_asc=language"><img src="$rel_path_to_root/ratatoeskr/cms_style/images/sortarrow_up_?{$sort_asc_language|filled|outline}.png" alt="<ste:get_translation for='sort_asc' />" /></a>
						<a href="$rel_path_to_root/backend/content/comments??{$filterquery|${filterquery}&|}sort_desc=language"><img src="$rel_path_to_root/ratatoeskr/cms_style/images/sortarrow_down_?{$sort_desc_language|filled|outline}.png" alt="<ste:get_translation for='sort_desc' />" /></a>
					</th>
					<th><ste:get_translation for="author" /></th>
					<th>
						<ste:get_translation for="date_time" />
						<a href="$rel_path_to_root/backend/content/comments??{$filterquery|${filterquery}&|}sort_asc=date"><img src="$rel_path_to_root/ratatoeskr/cms_style/images/sortarrow_up_?{$sort_asc_date|filled|outline}.png" alt="<ste:get_translation for='sort_asc' />" /></a>
						<a href="$rel_path_to_root/backend/content/comments??{$filterquery|${filterquery}&|}sort_desc=date"><img src="$rel_path_to_root/ratatoeskr/cms_style/images/sortarrow_down_?{$sort_desc_date|filled|outline}.png" alt="<ste:get_translation for='sort_desc' />" /></a>
					</th>
					<th><ste:get_translation for="article" /></th>
				</tr>
			</thead>
			<tbody>
				<ste:set var="comments_n"><ste:arraylen array="comments" /></ste:set>
				<ste:if>~{$comments_n|gt|0}
					<ste:then>
						<ste:foreach array="comments" value="comment">
							<tr>
								<td><input type="checkbox" name="comment_multiselect[]" value="$comment[id]" /></td>
								<td>?{$comment[read_by_admin]|<ste:get_translation for="yes" />|<strong><ste:get_translation for="no" /></strong>}</td>
								<td>?{$comment[visible]|<ste:get_translation for="yes" />|<ste:get_translation for="no" />}</td>
								<td><em><ste:escape>$comment[excerpt]</ste:escape>...</em> <a href="$rel_path_to_root/backend/content/comments/$comment[id]"><ste:get_translation for="read_more" /></a></td>
								<td>$comment[language]</td>
								<td><ste:escape>$comment[author]</ste:escape></td>
								<td><ste:date timestamp="$comment[date]">%Y-%m-%d %H:%M:%S</ste:date></td>
								<td><a href="$rel_path_to_root/backend/content/write/<ste:escape>$comment[article]</ste:escape>"><ste:escape>$comment[article]</ste:escape></a></td>
							</tr>
						</ste:foreach>
					</ste:then>
					<ste:else>
						<tr><td colspan="8" style="text-align: center"><em><ste:get_translation for="no_comments" /></em></td></tr>
					</ste:else>
				</ste:if>
			</tbody>
		</table>
		<div>
			<select name="action_on_comments">
				<option value="" selected="selected"></option>
				<option value="mark_read"><ste:get_translation for="commentaction_mark_read" /></option>
				<option value="mark_unread"><ste:get_translation for="commentaction_mark_unread" /></option>
				<option value="make_visible"><ste:get_translation for="commentaction_make_visible" /></option>
				<option value="make_invisible"><ste:get_translation for="commentaction_make_invisible" /></option>
				<option value="delete"><ste:get_translation for="delete" /></option>
			</select>
			<input type="submit" />
		</div>
	</form>
</ste:block>
