<ste:load name="master.html" />
<ste:comment>Create textprocessor options. The default will be tags content.</ste:comment>
<ste:mktag name="textprocessor_options">
	<ste:set var="txtproc_default"><ste:tagcontent /></ste:set>
	<ste:foreach array="textprocessors" value="txtproc">
		<option value="<ste:escape>$txtproc</ste:escape>"?{~{$txtproc|eq|$txtproc_default}| selected="selected"|}><ste:escape>$txtproc</ste:escape></option>
	</ste:foreach>
</ste:mktag>
<ste:block name="content">
	<form action="$rel_path_to_root/backend/content/write/$article_editurl" method="POST" accept_charset="utf-8">
	<ste:if>$failed
		<ste:then>
			<div class="error">
				<p><strong><ste:get_translation for="article_edit_error" /></strong></p>
				<ul>
					<ste:foreach array="failed" value="v"><li>$v</li></ste:foreach>
				</ul>
			</div>
		</ste:then>
	</ste:if>
	<ste:default_success />
	<div class="triplecolumns">
		<div class="column_left">
			<ste:get_translation for="content_write_cheatsheet" raw="y" />
		</div>
		
		<div class="column_right">
			<h2><ste:get_translation for="settings_meta" /></h2>
			
			<p><ste:get_translation for="urlname" />: <input type="text" name="urlname" value="<ste:escape>$urlname</ste:escape>" class="fullwidth" /></p>
			<p>
				<ste:get_translation for="article_section" />:
				<select name="section" class="fullwidth">
					<ste:foreach array="sections" value="section_name">
						<option name="<ste:escape>$section_name</ste:escape>"?{~{$section_name|eq|$article_section}| selected="selected"|}><ste:escape>$section_name</ste:escape></option>
					</ste:foreach>
				</select>
			</p>
			<p><ste:get_translation for="tags_cs" />: <input type="text" name="tags" value="<ste:escape>$tags</ste:escape>" class="fullwidth" /></p>
			<p><ste:get_translation for="date_time" />:<br />(YYYY-MM-DD HH:MM:SS) <input type="text" name="date"?{$date| value="<ste:date timestamp='$date'>%Y-%m-%d %H:%M:%S</ste:date>"|} class="fullwidth" /></p>
			<p>
				<ste:get_translation for="article_status" />:
				<ste:set var="article_status">?{$article_status|$article_status|1}</ste:set>
				<select name="article_status" class="fullwidth">
					<option value="0"?{~{$article_status|eq|0}| selected="selected"|}><ste:get_translation for="article_status_hidden" /></option>
					<option value="1"?{~{$article_status|eq|1}| selected="selected"|}><ste:get_translation for="article_status_live" /></option>
					<option value="2"?{~{$article_status|eq|2}| selected="selected"|}><ste:get_translation for="article_status_sticky" /></option>
				</select>
			</p>
			<p><ste:get_translation for="allow_comments" />: <input type="checkbox" name="allow_comments" value="yes" ?{$allow_comments|checked="checked" |}/></p>
		</div>
		
		<div class="column_main">
			<ste:if>$morelangs
			<ste:then>
				<h2><ste:get_translation for="article_other_languages" /></h2>
				<p>
					<ste:foreach array="morelangs" value="lang" counter="i">
						?{~{$i|eq|0}|| - }<a href="$rel_path_to_root/backend/content/write/$lang[url]"><ste:escape>$lang[full]</ste:escape></a>
					</ste:foreach>
				</p>
			</ste:then></ste:if>
			<p>
				<ste:get_translation for="articleedit_title" />: 
				<input type="text" name="title" value="<ste:escape>$title</ste:escape>" class="fullwidth" />
			</p>
			<p>
				<ste:get_translation for="articleedit_content" />: <select name="content_txtproc"><ste:textprocessor_options>$content_txtproc</ste:textprocessor_options></select>
				<textarea name="content" cols="80" rows="20" class="fullwidth codeedit"><ste:escape>$content</ste:escape></textarea>
			</p>
			<p>
				<ste:get_translation for="articleedit_excerpt" />: <select name="excerpt_txtproc"><ste:textprocessor_options>$excerpt_txtproc</ste:textprocessor_options></select>
				<textarea name="excerpt" cols="80" rows="10" class="fullwidth codeedit"><ste:escape>$excerpt</ste:escape></textarea>
			</p>
			<p style="text-align: center;">
				<ste:get_translation for="save_texts_as_lang" />: <select name="saveaslang">
					<ste:set var="default_langsel">?{$editlang|$editlang|$user[lang]}</ste:set>
					<ste:foreach array="all_languages" key="code" value="name">
						<option value="$code"?{~{$default_langsel|eq|$code}| selected="selected"|}>$code: $name</option>
					</ste:foreach>
				</select><br />
				<input type="submit" name="save_article" />
			</p>
		</div>
	</div>
	<div class="triplecolumns_stop"></div>
	</form>
</ste:block>
