<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<title>$title</title>
	<style type="text/css" media="screen">
		* { font-family: sans-serif; color: #bfbfbf; text-align: center;}
		body { background: #3f3f3f; }
	</style>
</head>
<body>
	<h1><ste:escape>$title</ste:escape></h1>
	<img src="$rel_path_to_root/ratatoeskr/cms_style/images/dead_emoticon.png" alt="" />
	<p><ste:escape>$details</ste:escape></p>
</body>
</html>
