<ste:load name="master.html" />
<ste:block name="content">
	<ste:default_error />
	<ste:default_success />
	
	<div class="dualcolumns">
		<div class="column_left">
			<form action="$rel_path_to_root/backend/content/images" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
				<h2><ste:get_translation for="image_upload" /></h2>
				<p><input type="file" name="upload_img" class="fullwidth" /></p>
				<p>
					<strong><ste:get_translation for="img_upload_name" /></strong><br />
					<input type="text" name="upload_name" class="fullwidth" /><br />
					<ste:get_translation for="img_upload_name_leave_empty" />
				</p>
				<p><input type="submit" name="upload" /></p>
			</form>
		</div>
		<div class="column_main">
			<form action="$rel_path_to_root/backend/content/images" method="post">
				<table class="fullwidth listtab">
					<thead><tr>
						<th>&nbsp;</th>
						<th><ste:get_translation for="image_preview" /></th>
						<th><ste:get_translation for="image_name" /></th>
						<th><ste:get_translation for="image_getmarkup" /></th>
					</tr></thead>
					<tbody>
						<ste:foreach array="images" value="image">
							<tr>
								<td><input type="checkbox" name="image_multiselect[]" value="$image[id]" /></td>
								<td><img src="$rel_path_to_root/images/previews/${image[id]}.png" alt="" /></td>
								<td><a href="$rel_path_to_root/images/$image[file]"><ste:escape>$image[name]</ste:escape></a></td>
								<td>
									<a href="$rel_path_to_root/backend/content/images/$image[id]/markdown">Markdown</a> - <a href="$rel_path_to_root/backend/content/images/$image[id]/html">HTML</a> - <a href="$rel_path_to_root/backend/content/images/$image[id]/ste">STE</a>
								</td>
							</tr>
							<ste:else>
								<tr><td colspan="5" style="text-align: center;"><em><ste:get_translation for="no_images" /></em></td></tr>
							</ste:else>
						</ste:foreach>
					</tbody>
				</table>
				<div>
					<ste:default_delete_yesno />
				</div>
			</form>
		</div>
	</div>
	<div class="dualcolumns_stop"></div>
</ste:block>
