<ste:load name="master.html" />
<ste:block name="content">
	<ste:if>$success
		<ste:then>
			<div class="success"><ste:escape>$success</ste:escape></div>
		</ste:then>
	</ste:if>
	<ste:if>$error
		<ste:then>
			<div class="error"><ste:escape>$error</ste:escape></div>
		</ste:then>
	</ste:if>
	
	<h2><ste:get_translation for="install_from_package" /></h2>
	<form action="$rel_path_to_root/backend/plugin/install" method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
		<input type="file" name="pluginpackage" /> <input type="submit" name="installpackage" />
	</form>
</ste:block>
