<ste:load name="master.html" />
<ste:block name="content">
	<ste:default_error noescape="y" />
	<ste:default_notice noescape="y" />
	<ste:default_success />
	
	<form action="$rel_path_to_root/backend/plugin/list" method="post">
		<table class="listtab fullwidth">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th><ste:get_translation for="plugin_name" /></th>
					<th><ste:get_translation for="plugin_version" /></th>
					<th><ste:get_translation for="plugin_isactive" /></th>
					<th><ste:get_translation for="plugin_description" /></th>
					<th><ste:get_translation for="plugin_author" /></th>
					<th><ste:get_translation for="plugin_web" /></th>
					<th><ste:get_translation for="plugin_help" /></th>
				</tr>
			</thead>
			<tbody>
				<ste:set var="plugins_n"><ste:arraylen array="plugins" /></ste:set>
				<ste:if>
					~{$plugins_n|gt|0}
					<ste:then>
						<ste:foreach array="plugins" value="p">
							<tr>
								<td><input type="checkbox" name="plugins_multiselect[]" value="$p[id]" /></td>
								<td><ste:escape>$p[name]</ste:escape></td>
								<td><ste:escape>$p[versiontext]</ste:escape></td>
								<td>?{$p[active]|<strong><ste:get_translation for="yes" />|<ste:get_translation for="no" />}</td>
								<td><ste:escape>$p[description]</ste:escape></td>
								<td><ste:escape>$p[author]</ste:escape></td>
								<td>?{$p[web]|<a href="<ste:escape>$p[web]</ste:escape>"><ste:escape>$p[web]</ste:escape></a>|}</td>
								<td>?{$p[help]|<a href="$rel_path_to_root/backend/plugin/help/$p[id]"><ste:get_translation for="plugin_help" /></a>|}</td>
							</tr>
						</ste:foreach>
					</ste:then>
					<ste:else>
						<tr><td colspan="8" style="text-align: center;"><em><ste:get_translation for="no_plugins" /></em></td></tr>
					</ste:else>
				</ste:if>
			</tbody>
		</table>
		<div>
			<input type="submit" name="delete" value="<ste:get_translation for='delete' />" />
			<select name="really_delete">
				<option value="no" selected="selected"><ste:get_translation for="no" /></option>
				<option value="yes"><ste:get_translation for="yes" /></option>
				<option value="force"><ste:get_translation for="enforce" /></option>
			</select>
			|
			<input type="submit" name="update" value="<ste:get_translation for='plugin_update' />" />
			|
			<input type="submit" name="activate" value="<ste:get_translation for='plugin_activate' />" />
			|
			<input type="submit" name="deactivate" value="<ste:get_translation for='plugin_deactivate' />" />
		</div>
	</form>
</ste:block>
