<ste:load name="master.html" />
<ste:block name="content">
	<ste:default_error />
	<ste:default_success />
	
	<form action="$rel_path_to_root/backend/admin/repos" method="post" accept-charset="UTF-8">
		<h2><ste:get_translation for="add_repo" /></h2>
		
		<p><strong><ste:get_translation for="repo_baseurl" />:</strong> <input type="text" name="repo_baseurl" /></p>
		<p><input type="submit" name="add_repo" /></p>
	</form>
	
	<form action="$rel_path_to_root/backend/admin/repos" method="post" accept-charset="UTF-8">
		<h2><ste:get_translation for="repo_list" /></h2>
		
		<table class="listtab fullwidth">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th><ste:get_translation for="repo_name" /></th>
					<th><ste:get_translation for="repo_description" /></th>
					<th><ste:get_translation for="repo_baseurl" /></th>
				</tr>
			</thead>
			<tbody>
				<ste:foreach array="repos" value="repo">
					<tr>
						<td><input type="checkbox" name="repos_multiselect[]" value="$repo[id]" /></td>
						<td><ste:escape>$repo[name]</ste:escape></td>
						<td><ste:escape>$repo[description]</ste:escape></td>
						<td><ste:escape>$repo[baseurl]</ste:escape></td>
					</tr>
					<ste:else>
						<tr>
							<td colspan="4" style="font-style: italic; text-align: center;"><ste:get_translation for="no_repos" /></td>
						</tr>
					</ste:else>
				</ste:foreach>
			</tbody>
		</table>
		<div>
			<ste:default_delete_yesno name="delete_repos" />
			|
			<input type="submit" name="force_repo_refresh" value="<ste:get_translation for='force_repo_refresh' />" />
		</div>
	</form>
</ste:block>
