<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Ratatöskr Setup</title>
	<link rel="stylesheet" type="text/css" media="screen" href="$rel_path_to_root/ratatoeskr/cms_style/setup.css" />
</head>
<head>
	<h1><img src="$rel_path_to_root/ratatoeskr/cms_style/images/r7rlogo_dropshadow.png" alt="Ratatöskr" /></h1>
	
	<div id="content">
		<ste:block name="content" />
	</div>
</head>
</html>
