<ste:load name="master.html" />
<ste:block name="content">
	<ste:default_error />
	<ste:default_success />
	
	<div class="triplecolumns">
		<div class="column_left">
			<h2><ste:get_translation for="comment_perform_action" /></h2>
			<form action="$rel_path_to_root/backend/content/comments/$id" method="POST">
				<select name="action_on_comment">
					<option value="" selected="selected"></option>
					<option value="make_visible"><ste:get_translation for="commentaction_make_visible" /></option>
					<option value="make_invisible"><ste:get_translation for="commentaction_make_invisible" /></option>
					<option value="delete"><ste:get_translation for="delete" /></option>
				</select>
				<input type="submit" />
			</form>
		</div>
		<div class="column_right">
			<p>
				<strong><ste:get_translation for="author" /></strong><br />
				<ste:escape>$author</ste:escape>
			</p>

			<p>
				<strong><ste:get_translation for="visible" /></strong><br />
				?{$visible|<ste:get_translation for="yes" />|<ste:get_translation for="no" />}
			</p>

			<p>
				<strong><ste:get_translation for="date_time" /></strong><br />
				<ste:date timestamp="$date">%Y-%m-%d %H:%M:%S</ste:date>
			</p>

			<p>
				<strong><ste:get_translation for="article" /></strong><br />
				<a href="$rel_path_to_root/backend/content/write/<ste:escape>$article</ste:escape>"><ste:escape>$article</ste:escape></a>
			</p>

			<p>
				<strong><ste:get_translation for="language" /></strong><br />
				$language
			</p>
		</div>
		<div class="column_main">
			<h2><ste:get_translation for="comment_text" /></h2>
			$comment_text
			<hr />
			<h2><ste:get_translation for="comment_text_raw" /></h2>
			<code><pre><ste:escape>$comment_raw</ste:escape></pre></code>
		</div>
	</div>
	<div class="triplecolumns_stop"></div>
</ste:block>
