<ste:load name="master.html" />
<ste:block name="content">
	<ste:default_error />
	<ste:default_success />
	
	<div class="dualcolumns">
		<div class="column_left">
			<form action="$rel_path_to_root/backend/design/styles" method="POST">
				<table class="fullwidth listtab">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th><ste:get_translation for="style" /></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>&nbsp;</td>
							<td><a href="$rel_path_to_root/backend/design/styles"><em><ste:get_translation for="new_style" /></em></a></td>
						</tr>
						<ste:foreach array="styles" value="style">
							<tr>
								<td><input type="checkbox" name="styles_multiselect[]" value="$style" /></td>
								<td><a href="$rel_path_to_root/backend/design/styles/$style">$style</a></td>
							</tr>
						</ste:foreach>
					</tbody>
				</table>
				<div>
					<input type="submit" name="delete" value="<ste:get_translation for='delete' />" />
					<select name="really_delete">
						<option value="no" selected="selected"><ste:get_translation for="no" /></option>
						<option value="yes"><ste:get_translation for="yes" /></option>
					</select>
				</div>
			</form>
		</div>
		<div class="column_main">
			<form action="$rel_path_to_root/backend/design/styles" method="POST" accept-charset="UTF-8">
				<p>
					<strong><ste:get_translation for="style_name" />:</strong><br />
					<input type="text" name="style_name" value="<ste:escape>$style_name</ste:escape>" />
				</p>
				<p>
					<strong><ste:get_translation for="style_code" />:</strong><br />
					<textarea name="style_code" class="fullwidth codeedit" cols="80" rows="20"><ste:escape>$style_code</ste:escape></textarea>
				</p>
				<p><input type="submit" name="save_style" /></p>
			</form>
		</div>
	</div>
	<div class="dualcolumns_stop"></div>
</ste:block>
