<ste:load name="master.html" />
<ste:block name="content">
	<ste:default_error />
	<ste:default_success />
	
	<form action="$rel_path_to_root/backend/content/tags" method="POST" accept-charset="UTF-8">
		<table class="listtab">
			<thead>
				<tr>
					<th><ste:get_translation for="tag_name" /></th>
					<th><ste:get_translation for="delete" /></th>
					<ste:foreach array="all_tag_langs" key="langcode" value="langname">
						<th>($langcode) <ste:escape>$langname</ste:escape></th>
					</ste:foreach>
					<th><ste:get_translation for="tag_add_lang" /></th>
				</tr>
			</thead>
			<tbody>
				<ste:foreach array="alltags" value="tagdata">
					<tr>
						<td>$tagdata[name]</td>
						<td>
							<a href="$rel_path_to_root/backend/content/tags/$tagdata[name]/delete"><img src="$rel_path_to_root/ratatoeskr/cms_style/images/delete.png" alt="<ste:get_translation for='delete' />" /></a>
						</td>
						<ste:foreach array="all_tag_langs" key="langcode" value="_">
							<td>
								<input type="text" name="tagtrans_${langcode}_${tagdata[name]}" value="<ste:escape>$tagdata[translations][$langcode]</ste:escape>" />
							</td>
						</ste:foreach>
						<td>
							<a href="$rel_path_to_root/backend/content/tags/$tagdata[name]/addtranslation"><img src="$rel_path_to_root/ratatoeskr/cms_style/images/add.png" alt="<ste:get_translation for='tag_add_lang' />" /></a>
						</td>
					</tr>
				</ste:foreach>
			</tbody>
		</table>
		<div><input type="submit" name="edit_translations" /></div>
	</form>
	
	<div>
		<h2><ste:get_translation for="create_new_tag" /></h2>
		<form action="$rel_path_to_root/backend/content/tags" method="POST" accept-charset="UTF-8">
			<p><ste:get_translation for="new_tag_name" />: <input type="text" name="new_tag_name" /></p>
			<p><input type="submit" name="create_new_tag" /></p>
		</form>
	</div>
</ste:block>
