<ste:load name="master.html" />
<ste:block name="content">
	<ste:default_error />
	<ste:default_success />
	
	<div class="dualcolumns">
		<div class="column_left">
			<form action="$rel_path_to_root/backend/design/templates" method="post">
				<table class="fullwidth listtab">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th><ste:get_translation for="template" /></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>&nbsp;</td>
							<td><a href="$rel_path_to_root/backend/design/templates"><em><ste:get_translation for="new_template" /></em></a></td>
						</tr>
						<ste:foreach array="templates" value="template">
							<tr>
								<td><input type="checkbox" name="templates_multiselect[]" value="$template" /></td>
								<td><a href="$rel_path_to_root/backend/design/templates/$template">$template</a></td>
							</tr>
						</ste:foreach>
					</tbody>
				</table>
				<div>
					<ste:default_delete_yesno />
				</div>
			</form>
		</div>
		<div class="column_main">
			<form action="$rel_path_to_root/backend/design/templates" method="post" accept-charset="UTF-8">
				<p>
					<strong><ste:get_translation for="template_name" />:</strong><br />
					<input type="text" name="template_name" value="<ste:escape>$template_name</ste:escape>" />
				</p>
				<p>
					<strong><ste:get_translation for="template_code" />:</strong><br />
					<textarea name="template_code" class="fullwidth codeedit" cols="80" rows="20"><ste:escape>$template_code</ste:escape></textarea>
				</p>
				<p><input type="submit" name="save_template" /></p>
			</form>
		</div>
	</div>
	<div class="dualcolumns_stop"></div>
</ste:block>
