* {
	font-family: sans-serif;
	font-size: 10pt;
}

body, html {
	padding: 0px;
	margin:0px;
}

body {
	background: #f2f2f2 url(images/setup_topgrad.png) top left repeat-x;
}

h1 {
	margin: 17px auto 5mm;
	padding: 0px;
	text-align: center;
	top: 0px;
	left: 0px;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
	padding:0px;
	margin: 5mm auto 2mm;
}

h1 img {
	margin: 0px auto 0px;
	padding: 0px;
}

#content {
	width: 80%;
	margin: 0px auto 10mm;
	text-align: center;
}

div.error {
	border: 1px solid #8d8d8d;
	background: #ddd url(images/error.png) no-repeat top left;
	min-height: 40px;
	color: #222;
	padding: 1em;
	margin: 3mm 0mm 3mm;
	text-align: center;
}
